<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$title|default='页面标题'}</title>
    {load href='/static/css/bootstrap.min.css'/}
    {load href='/static/js/jquery.min.js'/}
    {load href='/static/js/bootstrap.min.js'/}
    <script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {include file="public:nav"/}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {include file="public:left"/}
            </div>
            <div class="col-md-10">
                {__CONTENT__}
            </div>
        </div>
    </div>
</body>

</html>