{extend name="public:base"/}


{block name='body'}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>{$art.cate_id|getCateName}</h2>
        </div>
         
        <div>
            
            <div>
                <h4 class="text-center">{$art.title}</h4>
                <p class="text-center">发布者：{$art.user_id|getUserName} &nbsp;&nbsp;&nbsp;&nbsp;发布时间:{$art.create_time|date='Y-m-d H:i:s'}&nbsp;&nbsp;&nbsp;&nbsp;阅读量：{$art.pv}</p>
                
                <hr>
<div   class="text-center">
<button  class="btn btn-primary" type="button" session_id='{$Think.session.user_id}' id="fav" user_id='{$art.user_id}' article_id='{$art.id}'>收藏</button>
</div>   
            </div>
       
        </div>
        
        <div>{$art.content|raw}</div>
    
  
    </div>
        <script>
            $(function(){
                $('#fav').click(function(){
                    var userid = $(this).attr('user_id')
                    var artid = $(this).attr('article_id')
                    var sessionid = $(this).attr('session_id')
                    if(userid&&artid){
                        $.ajax(
                            {
                                type:'get',
                                url:"{:url('index/index/fav')}",
                                data:{
                                    user_id:userid,
                                    article_id:artid,
                                    session_id:sessionid,
                                    time:new Date().getTime(),
                                },
                                dataType:'json',
                                success:function(data){
                                    switch(data.status){
                                        case 1:
                                        $('#fav').attr('class','btn btn-success');
                                        $('#fav').text(data.message);
                                        break;
                                        case 0:
                                        $('#fav').attr('class','btn btn-default');
                                        $('#fav').text(data.message);
                                        break;
                                        case -1:
                                        alert(data.message)
                                        break;
                                        case -2:
                                        alert(data.message)
                                        break;
                                    }
                                }
                            }
                        )
                    }
                })
            })
        </script>
    {/block}