{layout name='public:layout'}

<h4 class="text-center">文章列表</h4>
<table class="table table-default table-hover text-center">
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>栏目</td>
        {eq name='$Think.session.admin_level' value='1'}
        <td>作者</td>
        {/eq}
        <td>阅读量</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>
    {volist name='articleList' id='art' empty="$empty"}
    <tr>
        <td>{$art.id}</td>
        <td>{$art.title}</td>
        <td>{$art.cate_id|getCateName}</td>
        {eq name='$Think.session.admin_level' value='1'}
        <td>{$art.user_id|getUserName|default='不存在'}</td>
        {/eq}
        <td>{$art.pv}</td>
        <td>{$art.create_time}</td>
        <td>
            <a class="btn btn-primary btn-sm" role="button" href="{:url('article/articleEdit',['id'=>$art.id])}">编辑</a>
            <a class="btn btn-danger btn-sm" value='{$art.id}'role="button" onclick="del({$art.id});return false">删除</a>
        </td>
    </tr>
    {/volist}

</table>
 
<div class="text-center">
    {$articleList|raw}
</div>
 
<a class="btn btn-info btn-sm" role="button" href="{:url('article/artAdd')}">添加文章</a>
{neq name='articleList' value=''}
<!-- 如果数据不为空，则显示js -->
<script>
    function del(id) {
        if (confirm('您是真的要删除吗？') == true) {
             window.location.href = "{:url('article/doDelete')}"+ "?id="+ id;
        }
    }
</script>
  {/neq}