{extend name="public:base"/}

 
{block name='body'}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>用户注册</h2>
        </div>
        <form class="form-horizontal" id="register"  onsubmit="return false">
            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name='name'class="form-control" id="input1" placeholder="username">
                </div>
            </div>
            <div class="form-group">
                <label for="input2" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="text" name='email' class="form-control" id="input2" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label for="input3" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input type="text" name='mobile' class="form-control" id="input3" placeholder="mobile">
                </div>
            </div>
            <div class="form-group">
                <label for="input4" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name='password' class="form-control" id="input4" placeholder="password">
                </div>
            </div>
            <div class="form-group">
                <label for="input5" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" name='password_confirm' class="form-control" id="input5" placeholder="password">
                </div>
            </div>
     
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button   class="btn btn-primary" id='regBtn'>注册</button>
                </div>
            </div>
        </form>
    </div>
<script>
    $(function(){
         //验证密码两次是否一致

        $('#regBtn').click(function(){
           // console.log($('#register').serialize());
            $.ajax({
                type:'post',
                url:"{:url('index/user/insert')}",
                data:$('#register').serialize(),
                dataType:'json',
                success:function(data){
                    switch(data.status){
                        case 1:
                        alert(data.message);
                        window.location.href="{:url('index/index')}";
                        break;
                        case 0:
                        case -1: 
                        alert(data.message);
                        break;
                    }
                } 
            })

        })
        
    })
</script>
{/block}